@import "tailwindcss";

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(123, 104, 153, 0.473);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 999px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 211, 238, 0.35);
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background: transparent;
}